

# Node / React
Frontend Ticket Management App/node_modules/
Frontend Ticket Management App/dist/
Frontend Ticket Management App/build/
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.iml
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Otros
*.bak
*.tmp
